<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.th.oc.mapper.ObjectMapper">
    <cache/>

    <select id="findByTableName" parameterType="java.lang.String" resultType="map">
        SELECT * FROM ${tableName}
    </select>

    <select id="findAllTable" resultType="map">
        SELECT * FROM ALL_TABLES WHERE TABLESPACE_NAME = 'USERS'
    </select>

    <select id="findByOwner" resultType="map" parameterType="java.lang.String">
        SELECT * FROM ALL_TABLES WHERE TABLESPACE_NAME = 'USERS' AND "OWNER" = #{owner}
    </select>

</mapper>








